<div class="jumbotron">
  <h1 class="display-4">burgers</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            {{#each burgers }}
              {{#unless devoured}}
                   {{burger_name}} <button data-id={{id}} class="devoured">devoured</button> <br>
              {{/unless}}
            {{/each}}
    
        </div>
        <div class="col-sm-4">
            <h2></h2>
           <input type="text" id="burgerName">
           <button id="addBurger">Add Burger</button><br>

        </div>
        <div class="col-sm-4">
            {{#each burgers}}
                      {{#if devoured}}
                          
                        {{burger_name}} <br>  
                      {{/if}}
            {{/each}}

        </div>
</div>